@import "~antd/dist/antd.css";
.App {
  font-family: "Prompt", sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-paper-page {
  margin-top: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-tooltip {
  font-family: "Prompt", sans-serif;
  font-size: 12px !important;
}
.ant-table-thead .ant-table-cell {
  color: #373e5c;
  background: #f9fafb;
}
.ant-table-cell {
  font-size: 12px;
  color: #373e5c;
}
.ant-picker {
  border-radius: 5px !important;
  height: 35px;
}
.ant-modal {
  font-family: "Prompt", sans-serif;
  top: 50px !important;
}
.ant-notification {
  font-family: "Prompt", sans-serif;
}
.ant-notification .ant-notification-notice {
  border-radius: 10px;
}
.ant-notification
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  font-size: 14px;
  font-weight: 500;
}
.ant-notification
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  font-size: 12px;
}
.ant-modal-content {
  border-radius: 10px !important;
}
.ant-modal-header {
  border-radius: 10px 10px 0px 0px !important;
}

.ant-input-affix-wrapper {
  border-radius: 5px !important;
  height: 35px !important;
}
.ant-input-wrapper.ant-input-group .ant-input-affix-wrapper {
  border-radius: 0px !important;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  height: 35px;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.ant-typography {
  font-size: 12px;
}
.ant-table-pagination.ant-pagination {
  margin: 10px;
  background: transparent !important;
}
.ant-input-group .ant-input {
  border-radius: 5px 0px 0px 5px !important;
  font-size: 12px !important;
}
.ant-input-group-addon {
  border-radius: 0px 5px 5px 0px !important;
}
.ant-input {
  border-radius: 5px !important;
  font-size: 12px !important;
}
.ant-picker {
  border-radius: 5px !important;
  font-size: 12px !important;
}
.ant-picker-input > input {
  font-size: 12px !important;
}
.ant-switch-checked {
  background: #5151f9 !important;
}
.ant-badge {
  width: 100%;
}
.ant-tag {
  border-radius: 10px !important;
}
.ant-popconfirm {
  font-family: "Prompt", sans-serif;
}
.ant-statistic-content {
  font-family: "Prompt", sans-serif !important;
}
.ant-message {
  font-family: "Prompt", sans-serif !important;
}
.ant-form label {
  font-family: "Prompt", sans-serif !important;
  font-size: 12px;
}
.ant-spinning,
.ant-drawer {
  font-family: "Prompt", sans-serif !important;
}
.ant-drawer .ant-drawer-header {
  background: #373e5c;
}
.ant-drawer .ant-drawer-title {
  color: white;
}
.ant-form .ant-form-item-label > label {
  font-size: 12px;
  color: #4d556b;
}
.ant-empty .ant-empty-description {
  font-size: 12px;
}
.ant-descriptions-item-content {
  font-size: 12px !important;
}
.ant-descriptions-item-label {
  font-size: 12px !important;
}
.ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 14px !important;
}
.ant-form-item {
  margin: 5px 0px 0px 0px !important;
}
.ant-select.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
  font-family: "Prompt", sans-serif !important;
  height: 35px !important;
}
.ant-select-tree .ant-select-tree-node-content-wrapper{
  font-family: "Prompt", sans-serif !important;
  font-size: 12px !important;
}

.ant-select {
  font-size: 12px !important;
  font-family: "Prompt", sans-serif !important;
}
.ant-cascader-menu {
  font-family: "Prompt", sans-serif !important;
  font-size: 12px !important;
}
.ant-select-item-option-content {
  font-family: "Prompt", sans-serif !important;
  font-size: 12px !important;
}
.ant-popover-inner {
  border-radius: 10px !important;
}
.ant-popover-message {
  font-size: 13px !important;
}
.ant-popover-buttons .ant-btn.ant-btn-default.ant-btn-sm,
.ant-btn.ant-btn-primary.ant-btn-sm {
  border-radius: 5px !important;
  font-size: 12px !important;
}
.ant-form-item-explain.ant-form-item-explain-connected {
  font-size: 12px !important;
  margin-top: 5px;
}
.ant-menu-title-content {
  font-size: 12px !important;
  font-weight: 500;
}
